html,
body, #app{
  height: 100%;
}

#app {
  display: flex;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input#inputUsername {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input#inputPwd {
  margin-bottom: -1px;
  border-radius: 0;
}
.form-signin input#inputSecondPwd {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-bottom: 10px;
}

.cover-container {
  max-width: 42em;
}

button {
  color: #000;
  background-color: #fff;
  border: 2px solid #fff;
  transition: all 0.3s ease;
}

button:hover {
  color: #fff;
  background-color: #000;
  transform: translateY(-2px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}